{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "logs/infection/infection.log",
        "html": "logs/infection/infection.html",
        "summary": "logs/infection/summary.log",
        "json": "logs/infection/infection-log.json",
        "perMutator": "logs/infection/per-mutator.md"
    },
    "tmpDir": ".tmp",
    "mutators": {
        "@default": true
    }
}